

body {
    font-family: Poppins, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #1b0a3e;
    color: #fafafa
}


nav{
    /* background-color: #0e1416; /*E949DB
     color: white;
     padding: 0px 20px;
     height: auto;
     margin: 0;
     box-sizing: border-box;
     width: 100%; */

     background-color: #0e1416; /*E949DB*/
     color: white;
     /* padding: 40px 50px; */
     padding: 0px 50px;
     padding-top: 40px;
     /* height: auto;  */
     /* position: relative; */
     height: 175px;
}

.navTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    top: -35px
}

.navItem{
    flex: 0 1 auto;
    text-align: left;
}

.navItem img {
    /* width: clamp(100px, 10vw, 200px);
    height: auto;  */
    width: clamp(100px, 10vw, 200px); 
    max-width: 150px; 
    height: auto; 
}

.titlePage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1rem, 5vw, 3rem);  
    color: white; 
    margin: 0;
    padding: 0 10px;
    white-space: nowrap; 
}

.navTop .titlePage {
    text-align: center;
}

hr {
    width: 40%; 
    border: 0; 
    border-top: 2px solid white; 
    margin: 10px auto; 
    transform: translateY(-75px)
}

.gift-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.gift-card img {
    width: clamp(150px, 15vw, 250px);
    height: auto;
    border-radius: 10px;
    padding: 10px;
}


/*
Modal css
*/

*, *::after, *::before {
    box-sizing: border-box;
}

.payTitle{
    font-size: 1.25rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    height: 500px;
    max-width: 60%;
    max-height: 60%;
    color:#0e1416;
    margin: auto;
    padding: 10px 50px;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
    align-items: left;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#fName{
    margin-left: -50px;
}

#lName{
    margin-left: 100px;
}

#Checkout{
    margin-top: 2%;
}

#cardNumber{
    margin-left: -100px;
}

#expirationDate{
    margin-left: -216px
}

#CSV{
    margin-left: -170px;
}

#LPCode{
    margin-left: -183px;
}

@media screen and (max-width: 768px){
    .navTop{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .navItem{
        position: relative;
        transform: none;
    }

    /* .titlePage{
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        top: 10px;
        
    } */

    .gift-card img{
        display: block;
        margin: auto;
        align-items: center;
    }

    .gift-cards{
        transform: scale(0.75);
        align-items: center;
    }

    body{
        width:auto;
        height: auto;
    }
}