body {
    font-family: Poppins, sans-serif;
    text-align: center;
    margin-top: 80px;
    padding: 0;
    background-color: #1b0a3e;
    color: #fafafa
}

header{
    background-color: #0e1416;
    padding: 30px;
    margin-top: -75px;
}

.navItem{
    position: absolute;
}

.siteName{
    display: inline-block;
    position:absolute;
}


.gift-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.gift-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.gift-card h3 {
    margin: 10px;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payment{
    width: 30%;
    padding: 20px;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}
